<section class="container">
  <div class="row justify-content-center">
    <form class="column" id="addplant">
      <div class="mb-3 text-center">
                  <label for="plantname">Add Plant:</label>

      <input id="plantname" type="search" placeholder="Plant" aria-label="Add Plant"/>
                

</div>
<div class="mb-3 text-center">
            <label for="nickname">Nickname:</label>

      <input id="nickname" type="text" placeholder="Nickname" aria-label="Add Plant"/>
      
</div>
<div class="mb-3 text-center">
          <label for="notes">Add Notes:</label>

      <input id="notes" type="text" placeholder="Notes" aria-label="Add Plant"/>
</div>
<div class="mb-3 text-center">
      <button class="btn-md btn-success" type="submit">Add Plant</button>
  </div>
    </form>
  </div>
</section>

<script src="../../../js/add.js"></script> 