<section class="container">
  <div class="row justify-content-center">
    <form class="column">
      <div class="mb-3 text-center">
      <input type="search" placeholder="Begonia" aria-label="Add Plant"/>
      
</div>
<div class="mb-3 text-center">
      <input type="text" placeholder="Nickname" aria-label="Add Plant"/>
      
</div>
<div class="mb-3 text-center">
      <input type="text" placeholder="Notes" aria-label="Add Plant"/>
</div>
<div class="mb-3 text-center">
      <button class="btn-md btn-success" type="submit">Add Plant</button>
  </div>
    </form>
  </div>
</section>