 <section class="row justify-content-center">
    <div class="card col-3">
     <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/26707624/medium.jpg" class="img-fluid p-2 imgSize" alt="placeholder">
     <h2></h2>
    </div>
    <div class="card col-3">
      <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/45444/medium.jpg" class="img-fluid p-2 imgSize" alt="placeholder">
      <h2</h2>
    </div>
    <div class="card col-3">
      <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/37802552/medium.jpeg" class="img-fluid p-2 imgSize" alt="placeholder">
      <h2></h2>
    </div>
  </section>
    <section class="row justify-content-center">
    <div class="card col-3">
      <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/37802552/medium.jpeg" class="img-fluid p-2 imgSize" alt="placeholder">
      <h2></h2>
    </div>
    <div class="card col-3">
      <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/22327/medium.jpg" class="img-fluid p-2 imgSize" alt="placeholder">
      <h2></h2>
    </div>
    <div class="card col-3">
      <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/11763754/medium.jpg" class="img-fluid p-2 imgSize" alt="placeholder">
      <h2></h2>
    </div>
    </section>


{{!-- <section class="row justify-content-center">
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
    <div class="card col-3" style="width: 18rem;">
  <img src="\images\img300placeholder.png" class="card-img-top img-fluid p-2 imgSize" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
   
  </div>
</div>
   
</section> --}}