<div class="container">
   <section class="row justify-content-center">
       {{#each plants as |plant|}} 
   <div class="text-center">
      <a href="/plants/{{plant.id}}" id="planter" ><h2>&#127807;{{plant.name}}</h2></a>

   </div> 
     {{/each}} 
     
   </section>

</div>