<div class="container">
   <section class="row justify-content-center">
       {{#each plants as |plant|}} 
   <div class="card">
      <a href="/plants/{{plant.id}}" ><h2>{{plant.name}}</h2></a>

   </div> 
     {{/each}} 
     
   </section>

</div>