<div class="container">
   <section class="row justify-content-center">
       {{#each plants as |plant|}} 
   <div class="card">
      <h2>{{plant.name}}</h2>
     
   

   </div> 
     {{/each}} 
   </section>

</div>